@media (320px <= width <= 480px) {
  .confirm h2 {
    font-size: 3.5rem;
  }

  .confirm p {
    width: 90%;
    font-size: 1.2rem;
  }

  .confirm a {
    width: 90dvw;
  }
}

@media (768px <= width <= 1023px) {
  .confirm h2 {
    font-size: 4.1rem;
  }

  .confirm p {
    width: 70%;
    font-size: 1.5rem;
  }

  .confirm a {
    width: 70dvw;
  }
}

@media (1024px <= width <= 1199px) {
  .confirm h2 {
    font-size: 4.1rem;
  }

  .confirm p {
    width: 70%;
    font-size: 1.5rem;
  }

  .confirm a {
    width: 60dvw;
    font-size: 1.2rem;
  }
}

@media (1200px <= width <= 1919px) {
  .confirm h2 {
    font-size: 4.1rem;
  }

  .confirm p {
    width: 90%;
    font-size: 1.3rem;
  }

  .confirm a {
    width: 35dvw;
    font-size: 1.2rem;
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 70px;
}

.confirm h2 {
  color: #b38d0b;
  font-family: "The Nautigal", cursive;
  font-weight: bold;
  margin-bottom: -15px;
}

.confirm p {
  color: #8d8d8d;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
}

.confirm a {
  padding: 10px;
  text-align: center;
  background-color: #2f3e5f;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm a .confirm-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}
